In [326]:
import numpy as np
import itertools
import statistics as stats

In [522]:
listofpres = [['George','Washington',1789,1797,'VA','2/22/1732','12/14/1799',57,67],
['John','Adams1',1797,1801,'MA','10/30/1735','7/4/1826',61,90],
['Thomas','Jefferson',1801,1809,'VA','4/13/1743','7/4/1826',57,83],
['James','Madison',1809,1817,'VA','3/16/1751','6/28/1836',57,85],
['James','Monroe',1817,1825,'VA','4/28/1758','7/4/1831',58,73],
['John','Adams2',1825,1829,'MA','7/11/1767','2/23/1848',57,80],
['Andrew','Jackson',1829,1837,'SC','3/15/1767','6/8/1845',61,78],
['Martin','Van Buren',1837,1841,'NY','12/5/1782','7/24/1862',54,79],
['William','Harrison1',1841,1841,'VA','2/9/1773','4/4/1841',68,68],
['John','Tyler',1841,1845,'VA','3/29/1790','1/18/1862',51,71],
['James','Polk',1845,1849,'NC','11/2/1795','6/15/1849',49,53],
['Zachary','Taylor',1849,1850,'VA','11/24/1784','7/9/1850',64,65],
['Millard','Fillmore',1850,1853,'NY','1/7/1800','3/8/1874',50,74],
['Franklin','Pierce',1853,1857,'NH','11/23/1804','10/8/1869',48,64],
['James','Buchanan',1857,1861,'PA','4/23/1791','6/1/1868',65,77],
['Abraham','Lincoln',1861,1865,'KY','2/12/1809','4/15/1865',52,56],
['Andrew','Johnson',1865,1869,'NC','12/29/1808','7/31/1875',56,66],
['Ulysses','Grant',1869,1877,'OH','4/27/1822','7/23/1885',46,63],
['Rutherford','Hayes',1877,1881,'OH','10/4/1822','1/17/1893',54,70],
['James','Garfield',1881,1881,'OH','11/19/1831','9/19/1881',49,49],
['Chester','Arthur',1881,1885,'VT','10/5/1829','11/18/1886',50,56],
['Grover','Cleveland1',1885,1889,'NJ','3/18/1837','6/24/1908',47,71],
['Benjamin','Harrison2',1889,1893,'OH','8/20/1833','3/13/1901',55,67],
['Grover','Cleveland2',1893,1897,'NJ','3/18/1837','6/24/1908',55,71]]

In [199]:
list = np.array([
    ['George','Washington',1789,1797,'VA','2/22/1732','12/14/1799',57,67],
    ['John','Adams1',1797,1801,'MA','10/30/1735','7/4/1826',61,90],
    ['Thomas','Jefferson',1801,1809,'VA','4/13/1743','7/4/1826',57,83],
    ['James','Madison',1809,1817,'VA','3/16/1751','6/28/1836',57,85],
    ['James','Monroe',1817,1825,'VA','4/28/1758','7/4/1831',58,73],
    ['John','Adams2',1825,1829,'MA','7/11/1767','2/23/1848',57,80],
    ['Andrew','Jackson',1829,1837,'SC','3/15/1767','6/8/1845',61,78],
    ['Martin','Van Buren',1837,1841,'NY','12/5/1782','7/24/1862',54,79],
    ['William','Harrison1',1841,1841,'VA','2/9/1773','4/4/1841',68,68],
    ['John','Tyler',1841,1845,'VA','3/29/1790','1/18/1862',51,71],
    ['James','Polk',1845,1849,'NC','11/2/1795','6/15/1849',49,53],
    ['Zachary','Taylor',1849,1850,'VA','11/24/1784','7/9/1850',64,65],
    ['Millard','Fillmore',1850,1853,'NY','1/7/1800','3/8/1874',50,74],
    ['Franklin','Pierce',1853,1857,'NH','11/23/1804','10/8/1869',48,64],
    ['James','Buchanan',1857,1861,'PA','4/23/1791','6/1/1868',65,77],
    ['Abraham','Lincoln',1861,1865,'KY','2/12/1809','4/15/1865',52,56],
    ['Andrew','Johnson',1865,1869,'NC','12/29/1808','7/31/1875',56,66],
    ['Ulysses','Grant',1869,1877,'OH','4/27/1822','7/23/1885',46,63],
    ['Rutherford','Hayes',1877,1881,'OH','10/4/1822','1/17/1893',54,70],
    ['James','Garfield',1881,1881,'OH','11/19/1831','9/19/1881',49,49],
    ['Chester','Arthur',1881,1885,'VT','10/5/1829','11/18/1886',50,56],
    ['Grover','Cleveland1',1885,1889,'NJ','3/18/1837','6/24/1908',47,71],
    ['Benjamin','Harrison2',1889,1893,'OH','8/20/1833','3/13/1901',55,67],
    ['Grover','Cleveland2',1893,1897,'NJ','3/18/1837','6/24/1908',55,71]
])

In [200]:
list.shape

(24, 9)

In [285]:
def extract_column(data, column):
    global x
    x= np.ndarray.tolist(list[: , column])

In [406]:
extract_column(0, 0)
first = x
print (first)

['George', 'John', 'Thomas', 'James', 'James', 'John', 'Andrew', 'Martin', 'William', 'John', 'James', 'Zachary', 'Millard', 'Franklin', 'James', 'Abraham', 'Andrew', 'Ulysses', 'Rutherford', 'James', 'Chester', 'Grover', 'Benjamin', 'Grover']

In [330]:
type(diedage)

list

In [302]:
extract_column(0, 1)
last = x
print (last)

['Washington', 'Adams1', 'Jefferson', 'Madison', 'Monroe', 'Adams2', 'Jackson', 'Van Buren', 'Harrison1', 'Tyler', 'Polk', 'Taylor', 'Fillmore', 'Pierce', 'Buchanan', 'Lincoln', 'Johnson', 'Grant', 'Hayes', 'Garfield', 'Arthur', 'Cleveland1', 'Harrison2', 'Cleveland2']

In [303]:
extract_column(0, 2)
termstart = x
print (termstart)

['1789', '1797', '1801', '1809', '1817', '1825', '1829', '1837', '1841', '1841', '1845', '1849', '1850', '1853', '1857', '1861', '1865', '1869', '1877', '1881', '1881', '1885', '1889', '1893']

In [305]:
extract_column(0, 3)
termend = x
print (termend)

['1797', '1801', '1809', '1817', '1825', '1829', '1837', '1841', '1841', '1845', '1849', '1850', '1853', '1857', '1861', '1865', '1869', '1877', '1881', '1881', '1885', '1889', '1893', '1897']

In [306]:
extract_column(0, 4)
state = x
print (state)

['VA', 'MA', 'VA', 'VA', 'VA', 'MA', 'SC', 'NY', 'VA', 'VA', 'NC', 'VA', 'NY', 'NH', 'PA', 'KY', 'NC', 'OH', 'OH', 'OH', 'VT', 'NJ', 'OH', 'NJ']

In [307]:
extract_column(0, 5)
born = x
print (born)

['2/22/1732', '10/30/1735', '4/13/1743', '3/16/1751', '4/28/1758', '7/11/1767', '3/15/1767', '12/5/1782', '2/9/1773', '3/29/1790', '11/2/1795', '11/24/1784', '1/7/1800', '11/23/1804', '4/23/1791', '2/12/1809', '12/29/1808', '4/27/1822', '10/4/1822', '11/19/1831', '10/5/1829', '3/18/1837', '8/20/1833', '3/18/1837']

In [308]:
extract_column(0, 6)
died = x
print (died)

['12/14/1799', '7/4/1826', '7/4/1826', '6/28/1836', '7/4/1831', '2/23/1848', '6/8/1845', '7/24/1862', '4/4/1841', '1/18/1862', '6/15/1849', '7/9/1850', '3/8/1874', '10/8/1869', '6/1/1868', '4/15/1865', '7/31/1875', '7/23/1885', '1/17/1893', '9/19/1881', '11/18/1886', '6/24/1908', '3/13/1901', '6/24/1908']

In [309]:
extract_column(0, 7)
starttermage = x
print (starttermage)

['57', '61', '57', '57', '58', '57', '61', '54', '68', '51', '49', '64', '50', '48', '65', '52', '56', '46', '54', '49', '50', '47', '55', '55']

In [310]:
extract_column(0, 8)
diedage = x
print (diedage)

['67', '90', '83', '85', '73', '80', '78', '79', '68', '71', '53', '65', '74', '64', '77', '56', '66', '63', '70', '49', '56', '71', '67', '71']

In [319]:
a = first
b = last

In [320]:
def maketuple(listinput):
    return tuple (listinput)

In [321]:
tfirst = maketuple(a)
print (tfirst)

('George', 'John', 'Thomas', 'James', 'James', 'John', 'Andrew', 'Martin', 'William', 'John', 'James', 'Zachary', 'Millard', 'Franklin', 'James', 'Abraham', 'Andrew', 'Ulysses', 'Rutherford', 'James', 'Chester', 'Grover', 'Benjamin', 'Grover')

In [322]:
tlast = maketuple(b)
print (tlast)

('Washington', 'Adams1', 'Jefferson', 'Madison', 'Monroe', 'Adams2', 'Jackson', 'Van Buren', 'Harrison1', 'Tyler', 'Polk', 'Taylor', 'Fillmore', 'Pierce', 'Buchanan', 'Lincoln', 'Johnson', 'Grant', 'Hayes', 'Garfield', 'Arthur', 'Cleveland1', 'Harrison2', 'Cleveland2')

In [323]:
names = zip(tfirst, tlast)
print (tuple(names))

(('George', 'Washington'), ('John', 'Adams1'), ('Thomas', 'Jefferson'), ('James', 'Madison'), ('James', 'Monroe'), ('John', 'Adams2'), ('Andrew', 'Jackson'), ('Martin', 'Van Buren'), ('William', 'Harrison1'), ('John', 'Tyler'), ('James', 'Polk'), ('Zachary', 'Taylor'), ('Millard', 'Fillmore'), ('Franklin', 'Pierce'), ('James', 'Buchanan'), ('Abraham', 'Lincoln'), ('Andrew', 'Johnson'), ('Ulysses', 'Grant'), ('Rutherford', 'Hayes'), ('James', 'Garfield'), ('Chester', 'Arthur'), ('Grover', 'Cleveland1'), ('Benjamin', 'Harrison2'), ('Grover', 'Cleveland2'))

In [324]:
nameslast = zip(tlast, tfirst)
sorted_names = sorted(tuple(nameslast))
print (sorted_names)

[('Adams1', 'John'), ('Adams2', 'John'), ('Arthur', 'Chester'), ('Buchanan', 'James'), ('Cleveland1', 'Grover'), ('Cleveland2', 'Grover'), ('Fillmore', 'Millard'), ('Garfield', 'James'), ('Grant', 'Ulysses'), ('Harrison1', 'William'), ('Harrison2', 'Benjamin'), ('Hayes', 'Rutherford'), ('Jackson', 'Andrew'), ('Jefferson', 'Thomas'), ('Johnson', 'Andrew'), ('Lincoln', 'Abraham'), ('Madison', 'James'), ('Monroe', 'James'), ('Pierce', 'Franklin'), ('Polk', 'James'), ('Taylor', 'Zachary'), ('Tyler', 'John'), ('Van Buren', 'Martin'), ('Washington', 'George')]

In [339]:
def makeint(enter):
    for i in range (0, len(enter)):
        enter[i] = int(enter[i])

In [367]:
print(diedage)
print (starttermage)

[67, 90, 83, 85, 73, 80, 78, 79, 68, 71, 53, 65, 74, 64, 77, 56, 66, 63, 70, 49, 56, 71, 67, 71]
[57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56, 46, 54, 49, 50, 47, 55, 55]

In [351]:
diedmean = stats.mean(diedage)
print(diedmean)

69.83333333333333

In [426]:
starttermint = makeint(starttermage)
starttermavg = stats.mean(starttermage)
print (starttermavg)

55.041666666666664

In [506]:
def getpostterm(data):
    global postterm
    global var
    var= (list[data, :].flatten())
    endtermage= int(var[7])+4
    death= int(var[8])
    postterm= death - endtermage
    return postterm

In [499]:
getpostterm(0)
washington = postterm
print (washington)

6

In [500]:
getpostterm(2)
jefferson = postterm
print (jefferson)

22

In [514]:
coord= [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
pp= tuple(map(getpostterm, coord))
postpresidency= zip(tlast, pp)
print (tuple(postpresidency))

(('Washington', 6), ('Adams1', 25), ('Jefferson', 22), ('Madison', 24), ('Monroe', 11), ('Adams2', 19), ('Jackson', 13), ('Van Buren', 21), ('Harrison1', -4), ('Tyler', 16), ('Polk', 0), ('Taylor', -3), ('Fillmore', 20), ('Pierce', 12), ('Buchanan', 8), ('Lincoln', 0), ('Johnson', 6), ('Grant', 13), ('Hayes', 12), ('Garfield', -4), ('Arthur', 2), ('Cleveland1', 20), ('Harrison2', 8), ('Cleveland2', 12))

In [517]:
meanpostpresidency = stats.mean(pp)
print (meanpostpresidency)

10.791666666666666

In [557]:
def converttodict():
    global presdict
    extract_column(0,1)
    lastnames= x
    extract_column(0,8)
    deathages= x
    presdict = dict(zip(lastnames, deathages))

In [558]:
converttodict()
prezdict = presdict
print(prezdict)

{'Washington': '67', 'Adams1': '90', 'Jefferson': '83', 'Madison': '85', 'Monroe': '73', 'Adams2': '80', 'Jackson': '78', 'Van Buren': '79', 'Harrison1': '68', 'Tyler': '71', 'Polk': '53', 'Taylor': '65', 'Fillmore': '74', 'Pierce': '64', 'Buchanan': '77', 'Lincoln': '56', 'Johnson': '66', 'Grant': '63', 'Hayes': '70', 'Garfield': '49', 'Arthur': '56', 'Cleveland1': '71', 'Harrison2': '67', 'Cleveland2': '71'}